# Dependencies
node_modules/

# Environment variables
.env

# IDE files
.idea/
.vscode/

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Mac files
.DS_Store

# Token storage
src/config/token.json
